@import url("https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,400i");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Abel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

